
<h1 class="text-center">Contact</h1>

<p class="text-center">
  Telefoon: <strong>0523-232244</strong><br>
  Adres: <strong>Parkwerg 1-1</strong><br>
  Postcode: <strong>3647TT Hardenberg</strong><br>
  Email: <strong>brenninkmeijer@dewaai.com</strong>
</p>

<%= image_tag("sailboat", class: 'img-responsive contact-image') %>