<h1>Home</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam at consectetur error hic in,
  laborum mollitia non perspiciatis quae velit vitae voluptas voluptatibus. Alias aliquam commodi fugit minima tempora.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aperiam atque, corporis delectus et inventore
  laudantium maiores, minus modi neque nesciunt nobis officiis pariatur, quis reprehenderit sint voluptate. Delectus.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequuntur id inventore nobis pariatur reiciendis voluptate.
  Ab alias consequatur doloribus esse explicabo fuga in ipsam laboriosam nisi, nostrum, quaerat rerum.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad culpa delectus id voluptates.
  Accusantium dolorem eaque harum id iure laboriosam neque, nihil nulla porro quas quasi reiciendis repudiandae, voluptate!
</p>

<%= image_tag("sailboat-home.jpg", class: 'img-responsive contact-image') %>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deleniti ea, eligendi et facilis nostrum quas
  quos recusandae veniam voluptate! Aliquid animi doloribus, facere nostrum ratione tempora veniam vero voluptatum?
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt distinctio dolores earum error ipsa iste laboriosam,
  laudantium magni non, nostrum perferendis quibusdam quidem reiciendis, sit tempore totam. Expedita, saepe.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa facilis fuga inventore odio quam quia sit tempora.
  Assumenda at dolor, est id illo impedit quis repudiandae soluta temporibus veniam!
</p>